* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: max-content;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-transform: uppercase;

    @media (max-width: 800px) {
      font-size: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
  z-index: 1000;

  .navBar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: "Poppins", sans-serif;
      font-size: 22px;

      @media (max-width: 800px) {
        font-size: 20px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 700px) {
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-content: top;
    }
  }

  li {
    list-style-type: none;
    height: max-content;
  }

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    position: relative;

    @media (max-width: 700px) {
      line-height: 2rem;
    }
  }

  .navBar {
    color: #000;

    @media (max-width: 800px) {
      a {
        color: #000;
      }
    }
  }
}

.open-Overlay {
  // transform: scale(1);
  transform: translateX(0%);
  width: 100%;
}
.mainNav {
  display: grid;
  align-content: center;
  height: 100%;

  a {
    padding-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.828);
      width: 100%;
      height: 5px;
      top: 100;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.NavBtn {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  img {
    pointer-events: none;
  }
}

.NavBtnClose {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  img {
    pointer-events: none;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(../Images/Hero-Bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  @media (max-width: 800px) {
    background: url(../Images/Hero-Bg-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 600px) {
    background: url(../Images/Hero-Bg-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.scrollDown {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 50%;
  right: 50%;
  animation: Bounce 1s infinite alternate;
  cursor: pointer;
}

@keyframes Bounce {
  to {
    top: 95%;
  }
}

@keyframes stagger {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 0;
    transform: translateY(0%);
  }
}

.camera {
  width: 400px;
  height: 300px;
  border: 0.4rem dashed #9900ff;
  overflow: hidden;
  margin-bottom: 50px;
}

.result {
  width: 400px;
  height: 300px;
  border: 0.4rem dashed #6f00ff;
  overflow: hidden;
  margin-bottom: 50px;
}

.btn-outline-secondary {
  outline: none;
  border: 1px solid #6f00ff;
  color: #6f00ff;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover,
  &:focus {
    background: #6f00ff;
    color: #fff;
  }
}

.btn-primary {
  outline: none;
  border: 1px solid #9900ff;
  background: #9900ff;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover,
  &:focus {
    border: 1px solid #6f00ff;
    color: #ffffff;
    background: #6f00ff;
  }
}

.demo {
  margin: 100px auto 50px;
}

.center {
  display: grid;
  justify-items: center;
}

.emotions {
  margin: 100px 0;
  display: grid;
  justify-items: center;

  h4 {
    position: relative;
    padding-bottom: 12px;

    &::after {
      content: "";
      position: absolute;
      background: #7a0cdd;
      width: 30%;
      height: 5px;
      top: 100;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      margin: 0px auto;
    }
  }
}

#update_emoji,
#update_emoji2 {
  margin-left: 10px;
}

.emotions {
  h2 {
    margin-top: 20px;
    span {
      font-size: 2rem;
    }
  }
}
